.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}



.secondary-bg {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.btn-primary {
    font-weight: bold;
    font-size: 15px;
    /* color: white; */
    border: 1px solid black;
    padding: 18px 35px;
    border-radius: 5px;
}

/* .btn-primary:hover {
    color: antiquewhite;
    text-color : black;
} */

/* Main section start */

main section {
    margin-top: 50px;
    margin-bottom: 130px;
}

.contact-btn {
    font-size: 15px;
    /* color: black;
     */
    font-weight: 800;
    background-color: black;
    /* border: 1px solid black; */
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
}

.contact-btn a{
    text-decoration: none;
    color: #e5f1ff;
    font-size: 1rem;
}

.banner-description {
    width: 1000px;
}

.web-banner-description {
    width: 650px;
    /* text-align: center; */
}

.web-banner-descriptions {
    /* width: 650px; */
    text-align: center;
}

.container {
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 20px;
}

.container p {
    margin: 10px 0;
}

/* main Section End */


/* Why Web Dev Start*/

.web-container {
    background-color: rgb(251, 255, 255);
    max-width: 1360px;
    margin: 0 auto;
}

.web-dev-heading {
    text-align: center;
    font-size: 2rem;
}


.about-item {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-1 {
    background-color: white;
}

/* Why Web Dev End */


/*  My inspiration start */

.insparetion-container h1 {
    text-align: center;
    font-size: 2rem;
}

.insparetion-container p {
    text-align: center;
    font-size: 1rem;
}

.video {
    margin-top: 40px;
    border: 1px;
    text-align: center;
}

/* My insparetion end */



/* My target start*/

.card-html {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(244, 233, 233);
    background-color: rgb(242, 221, 182);
}

.card-css {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: rgb(189, 189, 237);
}

.card-js {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: rgb(243, 243, 108);
}


.card-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 30%;
    justify-content: space-between;
}

.card img {
    width: 50px;
    height: 50px;
}

.card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    color: #666;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.html-card {
    background-color: #ffe5e5;
}

.css-card {
    background-color: #e5f1ff;
}

.js-card {
    background-color: #fff9e5;
}

.target {
    background-color: rgb(251, 255, 255);
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 60px;
}


.target h1 {
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
}

.target p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

/* My target end */


/* Support Section Start */

.support {
    max-width: 1360px;
    margin-top: 60px;
    /* align-items: right; */
    padding-right: 200px;
}


.support-section {
    background-image: url('assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    color: #fff
}

.support-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.support-section p {
    font-size: 1em;
    margin-bottom: 20px;
}

.feedback-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.feedback-form input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.feedback-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* background-color: #000; */
    color: black;
    font-size: 1em;
    cursor: pointer;
}


/* Support Section End */


/* Footer section start */

.footer-section {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.social-icons {
    justify-content: space-around;
}

/* Footer section end */