.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: normal;
}

.secondary-bg {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.btn-primary {
    font-weight: bold;
    font-size: 15px;
    /* color: white; */
    border: 1px solid black;
    padding: 18px 35px;
    border-radius: 5px;
}

/* .btn-primary:hover {
    color: antiquewhite;
    text-color : black;
} */

/* Main section start */

main section {
    margin-top: 50px;
    margin-bottom: 130px;
}

.contact-btn {
    font-size: 15px;
    /* color: black;
     */
    font-weight: 800;
    background-color: black;
    /* border: 1px solid black; */
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}

.banner-description {
    width: 1000px;
}

.web-banner-description {
    width: 650px;
    /* text-align: center; */
}
.web-banner-descriptions {
    /* width: 650px; */
    text-align: center;
}

.container {
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 20px;
}

.container p {
    margin: 10px 0;
}

/* main Section End */


/* Why Web Dev Start*/

.web-container {
    background-color: rgb(251, 255, 255);
    max-width: 1360px;
    margin: 0 auto;
}

.web-dev-heading {
    text-align: center;
    font-size: 2rem;
}


.about-item {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-1 {
    background-color: white;
}

/* Why Web Dev End */


/*  My inspiration start */

.insparetion-container h1{
    text-align: center;
    font-size: 2rem;
}

.insparetion-container p{
    text-align: center;
    font-size: 1rem;
}

.video {
    margin-top: 40px;
    border: 1px;
    text-align: center;
}

/* My insparetion end */